package FLM::Config;
use strict;

use vars qw($dbi_dbUser $dbi_dbAuth $dbi_dbName $dbi_dbHost $dbi_dbPort $FILES_DIR $FORBIDDEN_FILE_EXT $MAX_FILE_SIZE $MAX_UPLOADED_FILES $TRACE_ENABLED);

BEGIN
{
    use Exporter;
    use vars       qw($VERSION @ISA @EXPORT);

    $VERSION     = 1.02;
    @ISA = qw(Exporter);

    @EXPORT = qw($dbi_dbUser $dbi_dbAuth $dbi_dbName $dbi_dbHost $dbi_dbPort $FILES_DIR $FORBIDDEN_FILE_EXT $MAX_FILE_SIZE $MAX_UPLOADED_FILES $TRACE_ENABLED);
    
    $dbi_dbName = ""; #DB Name
    $dbi_dbHost = ""; #DB Host
    $dbi_dbUser = ""; #DB User
    $dbi_dbAuth = ""; #DB Password
    $dbi_dbPort = "5432"; #DB Port

    $FILES_DIR = "/var/www/files/"; #File storage directory

    $FORBIDDEN_FILE_EXT = []; #Forbidden file types, example: ".jpg", ".png"
    $MAX_FILE_SIZE = 5 * 1024 * 1024; #Max allowed file size in Bytes
    $MAX_UPLOADED_FILES = 40; #Max allowed number of uploaded files in the system

    $TRACE_ENABLED = 1; #Is traces enabled. Prints on stderr helpful information if error occurs. 
}

1;
